body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

button {
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
}

.opening-name {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  height: 70px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.move-box {
  display: flex;
  margin-top: 10px;
  width: 200px;
  height: 60px;
  background: #111111;
}
